.Header
    display: flex
    max-width: $global-width-page
    padding: 10px 34px
    margin: 0 auto
    justify-content: space-between
    align-items: center
    & > div
        display: flex
        gap: 12px
        align-items: center

.text
    font-size: 14px
    font-weight: 400
    line-height: 20px
    color: $color-secondary
    opacity: 0.4
    mix-blend-mode: luminosity

.steepsText
    font-size: 14px
    color: black
    font-weight: 400
    line-height: 20px

.BtnQR
    display: flex
    align-items: center
    justify-content: center
    padding: 6px 10px
    border: none
    border-radius: 5px
    cursor: pointer
    font-size: 14px
    line-height: 20px
    font-weight: 600
    color: $color-secondary
